version: '3'

vars:
  APP: {{.ProjectName}}
  MAIN: ./cmd/{{.ProjectName}}
  OUT: bin/{{.ProjectName}}

  VERSION:
    sh: git describe --tags --always --dirty
  COMMIT:
    sh: git rev-parse HEAD
  BUILDTIME:
    sh: date -u +%Y-%m-%dT%H:%M:%SZ

  LDFLAGS: >-
    -X 'main.Version={{`{{.Task.Get "VERSION"}}`}}'
    -X 'main.Commit={{`{{.Task.Get "COMMIT"}}`}}'
    -X 'main.BuildTime={{`{{.Task.Get "BUILDTIME"}}`}}'

tasks:
  build:
    desc: Build the CLI with version info
    cmds:
      - mkdir -p bin
      - go build -ldflags '{{`{{.Task.Get "LDFLAGS"}}`}}' -o {{`{{.Task.Get "OUT"}}`}} {{`{{.Task.Get "MAIN"}}`}}'
      - chmod +x {{`{{.Task.Get "OUT"}}`}}'
    sources:
      - "**/*.go"
    generates:
      - '{{`{{.Task.Get "OUT"}}`}}'

  run:
    desc: Run the CLI
    cmds:
      - go run {{`{{.Task.Get "MAIN"}}`}} {{`{{.Task.Get "CLI_ARGS"}}`}}
    silent: true

  clean:
    desc: Remove the bin folder
    cmds:
      - rm -rf bin

  version:
    desc: Show build version metadata
    cmds:
      - echo 'Version = {{`{{.Task.Get "VERSION"}}`}}'
      - echo 'Commit = {{`{{.Task.Get "COMMIT"}}`}}'
      - echo 'Built at = {{`{{.Task.Get "BUILDTIME"}}`}}'

  install:
    desc: Install the CLI to /usr/local/bin
    deps:
      - build
    cmds:
      - sudo cp {{`{{.Task.Get "OUT"}}`}} /usr/local/bin/{{`{{.Task.Get "APP"}}`}}

  uninstall:
    desc: Uninstall the CLI from /usr/local/bin
    cmds:
      - sudo rm /usr/local/bin/{{`{{.Task.Get "APP"}}`}}